<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Todo App{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'todos:todo_list_list' %}">Home</a></li>
            <li><a href="{% url 'todos:todo_list_create' %}">Create Todo List</a></li>
            <li><a href="{% url 'todos:todo_item_create' %}">Create Todo Item</a></li>
        </ul>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
