


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ todo_list.name }}</title>
</head>
<body>
        <header>
        <nav>
            <a href="{% url 'todos:todo_list_list' %}">Back to Todo Lists</a>
        </nav>
        </header>
    <main>
        <div>
            <h1>{{ todo_list.name }}</h1>
            <p><a href="{% url 'todos:todo_list_update' todo_list.id %}">Edit To Do</a></p>
            <p><a href="{% url 'todos:todo_list_delete' todo_list.id %}">Delete</a></p>
            <p><a href="{% url 'todos:todo_item_create' %}">Create a new item</a></p>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due date</th>
                        <th>Complete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in todo_items %}
                        <tr>
                            <td><a href="{% url 'todos:todo_item_update' item.id %}">{{ item.task }}</a></td>
                            <td>{{ item.due_date }}</td>
                            <td>{{ item.is_completed }}</td>
                            <td><a href="{% url 'todos:todo_item_update' item.id %}">Edit</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
