<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Lists</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'todos:todo_list_list' %}">Home</a></li>
            <li><a href="{% url 'todos:todo_list_create' %}">Create Todo List</a></li>
            <li><a href="{% url 'todos:todo_item_create' %}">Create Todo Item</a></li>
        </ul>
    </nav>
    <main>
        <div>
            <h1>My Lists</h1>

            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of items</th>
                    </tr>
                </thead>
                <tbody>
                    {% for todo_list in todo_lists %}
                    <tr>
                        <td><a href="{% url 'todos:todo_list_detail' todo_list.id %}">{{ todo_list.name }}</a></td>
                        <td>{{ todo_list.items.count }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
