

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Todo List</title>
</head>
<body>
        <header>
        <nav>
            <a href="{% url 'todos:todo_list_list' %}">Back to Todo Lists</a>
        </nav>
        </header>
    <main>
        <div>
            <h1>Update Todo List</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Update</button>
            </form>
        </div>
    </main>
</body>
</html>
